@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Lato:wght@300&display=swap');

.title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#main-header, #projects-content, #publications-content, #activities-content{
    font-family: 'Lato', sans-serif;
}

#home-content {
	font-family: 'Gothic A1', sans-serif;
    
}

header {
    font-family: 'JalnanGothic';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    padding: 20px;
    margin-left: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s; /* 색상 전환 효과를 부드럽게 적용 */
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    order: -1;
    margin-right: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px; /* 이 값을 조정하여 검색 박스의 시작점을 오른쪽으로 이동 */
	margin-right: 20px;
}

#search-input {
    width: 150px; /* Decrease width */
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 10px; /* Give some space between the input and the button */
}

.search-btn {
    padding: 4px;
    background-color: transparent;
    border: none;
}

@media (max-width: 768px) {
    /* Existing styles for smaller screens */

    nav {
        display: none;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        margin-right: 0;
    }

    nav a {
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin: 0;
        color: black; /* Add this line to ensure text color is black */
        text-decoration: none; /* Add this line to remove any underline */
    }
	
	.search-box {
        margin-left: 10px; /* 작은 화면에서는 더 적은 마진 */
    }
}

.logo {
    font-size: 1.2em;
    margin-left: 20.8px; /* 1cm 만큼 오른쪽으로 이동 */
    color: #000000;
}

.fa-4x {
    text-align: center;
    margin: auto;
    text-decoration: none; /* 링크에 대한 밑줄을 없앰 */
    color: black; /* 기본 텍스트 색상으로 유지 */
}

.fa-4x a {
    text-decoration: none;
    color: inherit; /* 링크의 색상을 부모의 색상으로 상속 */
}

.fa-4x a:hover {
    text-decoration: none; /* 호버 시에도 밑줄 없앰 */
}

.fa-brands {
    font-size: 1.6rem; /* 크기를 조절하세요 */
    display: inline-block; /* 인라인 요소로 만들어 가로 정렬이 가능하도록 함 */
}

nav {
    margin-left: auto; /* 우측으로 이동 */
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    color: black; /* 아이콘 색상 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */

    /* 추가적인 스타일 조정 가능 */
}

.github-link:hover {
    color: black; /* 호버 시 아이콘 색상 변경 */
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 4px;
}

nav a:hover {
    font-weight: bold; /* 호버 시 볼드체로 변경 */
}

.search-box {
    display: flex;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 24px;
    background-image: url('icon2.png'); /* 초기 아이콘 설정 */
    cursor: pointer;
    background-size: cover; /* 이미지가 div 크기에 맞게 조절되도록 설정 */
}


.logo a {
    color: black;
    text-decoration: none;
}

.main-content {
    padding: 20px;
    display: flex;
    margin-top: 110px;
    align-items: flex-start;
}

.profile-image {
    width: 270px; /* 원하는 크기로 조절 */
    margin-right: 40px; /* 이미지와 본문 간격 조절 */
    margin-top: 20px;
    margin-left: 250px; /* 오른쪽으로 4cm 이동 */
}

@media (max-width: 768px) {
    /* 768px 미만의 화면에서 적용되는 스타일 */
    .main-content {
        padding: 20px;
        display: flex;
        flex-direction: column; /* 세로 방향의 Flexbox 레이아웃으로 변경 */
        align-items: center; /* 가운데 정렬 */
        text-align: center; /* 텍스트 가운데 정렬 */
    }

    .profile-image {
        width: 200px; /* 원하는 크기로 조절 */
        margin-left: 20px;
        margin-bottom: 20px; /* 이미지와 본문 간격 조절 */
    }
}

.main-text a {
    color: #008080; /* 청록색으로 변경 */
    text-decoration: underline; /* 밑줄 추가 */
}

.main-text {
    flex: 1; /* 남은 공간을 채우도록 설정 */
}

.contact-info {
    font-size: 0.7em; /* 작은 글꼴 크기 설정 */
    color: #555; /* 회색 텍스트 색상 설정 */
    margin-top: 70px; /* 위쪽 여백 추가 */
    text-align: center;
}

.section-content {
    display: none;
}

.section-content.show {
    display: block;
}

#projects-content {
    text-align: center;
}

#projects-content h2 {
    font-size: 2em;
    margin-top: 180px;
}

#projects-content ul {
    list-style-type: none;
    padding: 0;
}

#projects-content li {
    margin-bottom: 10px;
}

#publications-content {
    text-align: center;
}

#publications-content h2 {
    font-size: 2em;
    margin-top: 180px;
}

#publications-content ul {
    list-style-type: none;
    padding: 0;
}

#publications-content li {
    margin-bottom: 10px;
}

#activities-content {
    text-align: center;
}

#activities-content h2 {
    font-size: 2em;
    margin-top: 180px;
}

#activities-content ul {
    list-style-type: none;
    padding: 0;
}

#activities-content li {
    margin-bottom: 10px;
}

#skills {
    padding: 40px;
    background-color: #f5f5f5; /* 배경색 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    max-width: 600px; /* 최대 너비를 조정 */
    margin: 0 auto;
    text-align: center; /* 섹션 내 모든 텍스트 중앙 정렬 */
  }
  
  .skills-container {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    gap: 20px;
  }
  
  .skill-category {
    background-color: transparent; /* 배경 투명 */
    padding: 20px;
    border-radius: 10px;
  }
  
  .skill-category h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333; /* 글자색 */
    display: flex;
    justify-content: center; /* 제목 중앙 정렬 */
    align-items: center;
    gap: 10px;
  }
  
  .skill-category ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skill-category li {
    display: flex;
    justify-content: center; /* 리스트 항목 중앙 정렬 */
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 8px 0;
    font-size: 1.2em;
    background-color: transparent; /* 배경 투명 */
  }
  
  .skill-category li i {
    color: #333; /* 아이콘 색상 */
    font-size: 1.2em;
  }