/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Lato:wght@300&display=swap');

/* 기본 글꼴 스타일 */
.title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

#main-header {
    font-family: 'Gothic A1', sans-serif;
}

#home-content, #projects-content, #publications-content, #activities-content {
    font-family: 'Gothic A1', sans-serif;
}

/* 헤더 스타일 */
header {
    font-family: 'JalnanGothic';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    color: black;
    padding: 20px;
    margin-left: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s; /* 색상 전환 효과 */
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    order: -1;
    margin-right: 20px;
}

/* 검색 박스 스타일 */
.search-box {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

#search-input {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-btn {
    padding: 4px;
    background-color: transparent;
    border: none;
}

.search-icon {
    width: 24px;
    height: 24px;
    background-image: url('icon2.png');
    cursor: pointer;
    background-size: cover;
}

/* 반응형 스타일 - 작은 화면 (768px 이하) */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* 헤더 아이템을 세로로 배치 */
        align-items: center;
        text-align: center;
    }

    nav {
        display: none;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav.show {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        margin-right: 0;
    }

    nav a {
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin: 0;
        color: black; /* 텍스트 색상 */
        text-decoration: none; /* 밑줄 제거 */
    }

    .search-box {
        margin-left: 10px; /* 작은 화면에서 마진 축소 */
    }

    .main-content {
        flex-direction: column; /* 세로로 배치 */
        align-items: center;
        text-align: center;
        margin-top: 110px; /* 상단 여백 */
    }

    .profile-image {
        width: 200px;
        margin-left: 20px;
        margin-bottom: 20px; /* 하단 여백 추가 */
    }
}

/* 로고 스타일 */
.logo {
    font-size: 1.2em;
    margin-left: 20.8px; /* 오른쪽으로 20.8px 이동 */
    color: #000000;
}

.logo a {
    color: black;
    text-decoration: none;
}

/* 네비게이션 스타일 */
nav {
    margin-left: auto; /* 우측 정렬 */
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 0 4px;
}

nav a:hover {
    font-weight: bold; /* 호버 시 볼드체로 변경 */
}

/* 아이콘 스타일 */
.fa-4x {
    text-align: center;
    margin: auto;
    color: black;
}

.fa-4x a {
    text-decoration: none;
    color: inherit; /* 부모 색상 상속 */
}

.fa-brands {
    font-size: 1.6rem;
    display: inline-block; /* 인라인 블록으로 설정 */
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

.github-link:hover {
    color: black;
}

/* 메인 컨텐츠 스타일 */
.main-content {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    margin-top: 110px; /* 헤더와의 간격 */
}

.profile-image {
    width: 270px;
    margin-right: 40px;
    margin-top: 20px;
    margin-left: 250px;
}

.main-text {
    flex: 1; /* 남은 공간을 채움 */
}

.main-text a {
    color: #008080; /* 링크 텍스트 색상 */
    text-decoration: underline; /* 밑줄 추가 */
}

/* 연락처 정보 스타일 */
.contact-info {
    font-size: 0.7em;
    color: #555;
    margin-top: 70px;
    text-align: center;
}

/* 섹션 콘텐츠 스타일 */
.section-content {
    display: none;
}

.section-content.show {
    display: block;
}

/* 프로젝트 섹션 스타일 */
#projects-content,
#publications-content,
#activities-content {
    text-align: center;
}

#projects-content h2,
#publications-content h2,
#activities-content h2 {
    font-size: 2em;
    margin-top: 180px;
}

#projects-content ul,
#publications-content ul,
#activities-content ul {
    list-style-type: none;
    padding: 0;
}

#projects-content li,
#publications-content li,
#activities-content li {
    margin-bottom: 10px;
}

/* 스킬 섹션 스타일 */
#skills {
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    gap: 20px;
}

.skill-category {
    background-color: transparent; /* 배경 투명 */
    padding: 20px;
    border-radius: 10px;
}

.skill-category h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
    display: flex;
    justify-content: center; /* 제목 중앙 정렬 */
    align-items: center;
    gap: 10px;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
}

.skill-category li {
    display: flex;
    justify-content: center; /* 리스트 항목 중앙 정렬 */
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 8px 0;
    font-size: 1.2em;
    background-color: transparent; /* 배경 투명 */
}

.skill-category li i {
    color: #333;
    font-size: 1.2em;
}